body{
    Font-size: 32px;
    font-family: [Inter](https://fonts.google.com/specimen/Inter);
    font-Weight: 300, 500, 700;
    overflow-x: auto;
    overflow-y: hidden;
}

.theslides{
    line-height: 44px;
    width: 1300px;
    height: 690px;
    overflow-x: auto;
    overflow-y: hidden;
}
#slide-1{
    background-image: url(./images/pattern-curve.svg), url(./images/pattern-quotes.svg), 
    url(./images/image-tanya.jpg), url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom left, top 130px left 230px, top 60px right 100px, bottom 50px right 5%;
    background-size: 40%, 10%, 540px 540px, 680px;
    
}

#slide-2{
    /*line-height: 44px;
    width: 1300px;
    height: 690px;*/
    background-image: url(./images/pattern-curve.svg), url(./images/pattern-quotes.svg), 
    url(./images/image-john.jpg), url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom left, top 130px left 230px, top 60px right 100px, bottom 50px right 5%;
    background-size: 40%, 10%, 540px 540px, 680px;
}

p{
    width: 265px;
    height: 38px;
    font-size: 14px;
}

.buttons{
    position: absolute;
    left: 720px;
    top: 580px;
    background-color: white;
    width: 112px;
    height: 36px;
    border-radius: 50px;
    letter-spacing: 60px;
    padding: 20px 10px 20px;
    box-shadow: 10px 10px 10px lightgrey;
}

img{
    height: 25px;
    width: 20px;
}


.article{
    position: relative;
    top: 180px;
    left: 120px;
    width: 635px;
    height: 354px;
    }

    span{
        color: grey;
    }

@media screen and (max-width: 600px){
        
    .theslides{
        position: relative;
        width: 375px;
        height: 667px;
        /*overflow-x: auto;
        overflow-y: hidden;*/
    }

    #slide-1{
       background-image: url(./images/pattern-curve.svg), url(./images/pattern-quotes.svg), 
       url(./images/image-tanya.jpg), url(./images/pattern-bg.svg);
       background-repeat: no-repeat;
       background-position: top 594.95px left, top 364px left 158px, top 54px left 61px, top 24px left 24px;
       background-size: 200px 65px, 60px 50px, 254px 253px, 326.5px 315px;
        
     }

    #slide-2{
        background-image: url(./images/pattern-curve.svg), url(./images/pattern-quotes.svg), 
        url(./images/image-john.jpg), url(./images/pattern-bg.svg);
        background-repeat: no-repeat;
        background-position: top 594.95px left, top 364px left 158px, top 54px left 61px, top 24px left 24px;
        background-size: 200px 65px, 60px 50px, 254px 253px, 326.5px 315px;
        
     }

     .article{
        position: absolute;
        width: 300px;
        height: 228px;
        left: 40px;
        top: 364px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
     }

     .buttons{
        position: absolute;
        width: 80px;
        height: 40px;
        left: 148px;
        top: 287px;
        letter-spacing: 30px;
     }

 }